/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("//fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,300,700|Quicksand:400,300,700|Raleway:100,200,300' rel='stylesheet' type='text/css'");
$base-font: "Raleway", "Helvetica", "sans-serif";
$header-font: "Montserrat", "Roboto", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 18px;
$base-height: 1.4;
$small-height: 14px;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;
$red: #DB504A;
$blue: #084C61;
$yellow: #FDB631;
$orange: #E67E22;
$green: #56A3A6;
$white: #F3F4F4;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee


// color scheme
