/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */
#home-body {
  background-image: url('banner_3_opt.jpg');
  background-position: left;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: -200px;
  z-index: -1;
}


#a-propos, #team {
  a {
    text-shadow: none;
  }
}

.title {
  h2 {
    font-size: 2vh;
  }
}

.home-content{
  position: relative;
  padding-top: 6em;
  padding-bottom: 2em;
  &-white {
    background-color: rgb(250, 250, 250);
  }
  &-blue {

    background: -webkit-linear-gradient(0deg, #68b0ab 10%, #247ba0 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(0deg, #68b0ab 10%, #247ba0 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(0deg, #68b0ab 10%, #247ba0 90%); /* IE10 */
    background:      -o-linear-gradient(0deg, #68b0ab 10%, #247ba0 90%);
    background:         linear-gradient(0deg, #68b0ab 10%, #247ba0 90%); /* Opera 11.10+ */
    background-color: rgba(40,60,100,0.6);
    text-shadow: 0.5px 0.5px 0.5px rgb(60,60,60);
    h1 {
      font-family: Raleway;
      font-weight: 100;
      color: white;
      margin-bottom: 2em;
    }
    h2{
      font-family: Raleway;
      color: white;
      margin-bottom: 80px;
      font-size: 3vh;
      font-weight: 200;
    }
  }
}

.link-back {
  position: absolute;
  top: 7vh;
  right: 5vh;
  z-index: 4;
  font-size: 40px;
  p {
    font-size: 14px;
  }
  &-white {
    a {
      color: white;
      &:hover {
        text-decoration: none;
        color: rgb(60,60,60);
      }
    }
    i {
      color: rgba(255,255,255,0.8);
      &:hover {
        text-decoration: none;
        color: rgb(60,60,60);
      }
    }
  }
  &-dark {
    a {
      color: rgb(60,60,60);
      &:hover {
        text-decoration: none;
        color: lighten($blue, 30%);
      }
    }
  }
}

.home-data {
  color: white;
  z-index: 2;
  padding: 0.7em;
  p {
    font-size: 2.2vh;
  }
  h5 {
    font-size: 2.5vh;
  }
  h3 {
    font-size: 3vh;
  }
}
