/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */
#home-body {
  background-image: url('banner_3_opt.jpg');
  background-position: left;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: -200px;
  z-index: -1;
}

.home-content{
  position: relative;
  padding: 6em 0;
  &-white {
    background-color: rgb(250, 250, 250);
  }
  &-blue {
    background-color: rgba(40,60,100,0.6);
    text-shadow: 0.5px 0.5px 0.5px rgb(60,60,60);
    h1 {
      font-family: Raleway;
      font-weight: 100;
      color: white;
      margin-bottom: 2em;
    }
  }
}

.link-back {
  position: absolute;
  top: 10vh;
  right: 5vh;
  z-index: 4;
  font-size: 40px;
  p {
    font-size: 14px;
  }
  &-white {
    a {
      color: white;
      &:hover {
        text-decoration: none;
        color: rgb(60,60,60);
      }
    }
  }
  &-dark {
    a {
      color: rgb(60,60,60);
      &:hover {
        text-decoration: none;
        color: lighten($blue, 30%);
      }
    }
  }
}
