.profile{
  body{
    font: $base-font;
    font-weight: 100;
  }

  &-name {
    padding-bottom: 60px;

    h2{
      font-family: $header-font;
      font-weight: 400;
      letter-spacing: 2px;
      color: $blue;
    }
    h3{
      font-family: Roboto;
      font-weight: 300;
    }
  }

  &-info{
    margin-left: 150px;
    .lead{
      padding: 5px;
    }

    .profile-picture{
      margin-left: 0px;
      height: 200px;
      width: 200px;
      border-radius: 5%;
      padding: 10px;
    }
  }

  &-metrics {
    margin-right: 0px;
    font-size: 30px;
    padding: 90px 90px 0px 80px;
    border-left: solid 1px black;
    height: 500px;
    letter-spacing: 1px;

    .metric-number{
      font-family: Montserrat;
      color: $gray-dark;
    }
  }

  li {
    padding: 10px;
  }
}
