.card-stats {
  margin-top: 30px;
  background: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 13px;
  box-shadow: 1px 1px 3px #EEEEEE;
  h2 {
    font-size: 18px;
    font-weight: bold;
  }

  h3 {
    font-size: 16px;
  }

}

.mini-box{

  padding: 30px;
  margin: 13px 0px;
  background-color: #fafafa;
  border-radius: 5px;
  color: #141414;
  height: 165px;


  .number{
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 400;
  color: $gray-darker;
  }

  .account{

    font-family: Montserrat;
    font-weight: 400;
    font-size: 25px;
    color: $gray-darker;
   }


  h4{
    font-family: $header-font;
    font-size: $base-size;
  }
  p{
    text-align: center;
  }
  i{
    font-size: 30px;
    color: #4D9CC5;
  }
}


.candidate-nav{
  font-size: 1em;
}

.presentation{
  padding: 20px;
}

.metrics{
  margin-left: 10px;
}
.profile{

  body{
    font: $base-font;
    font-weight: 200;
    height: 300px;
  }

  .profile-picture{
      height: 200px;
      width: 200px;
      border-radius: 13%;
      padding: 15px;
    }


  &-name {
    padding-bottom: 30px;
    h3{
      font-family: $header-font;
      font-weight: 400;
      letter-spacing: 1px;
    }
    h4{
      font-family: Roboto;
      font-weight: 300;
    }
  }

  &-info{
    text-align: left;
    #screen-name{
      font-family: $header-font;
    }
  }

  &-metrics {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 20px 0 0 10px;

    .metric-red{
      font-family: Montserrat;
      color: $red;
    }
    .metric-blue{
      font-family: Montserrat;
      color: $blue;
    }
  }
}
