<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-inline">
          <li><%= link_to "http://youtube.com", target: "_blank" do %><i class="fa fa-youtube"></i><% end %></li>
          <li><%= link_to "https://instagram.com/", target: "_blank" do %><i class="fa fa-instagram"></i><% end %></li>
          <li><%= link_to "https://www.facebook.com/", target: "_blank" do %><i class="fa fa-facebook"></i><% end %></li>
          <li><%= link_to "https://twitter.com/", target: "_blank" do %><i class="fa fa-twitter"></i><% end %></li>
        </ul>
      </div>
      <div class="col-xs-6 text-right">
        <p>an aliceMomo, @nicknem92, @vincentp & ManuKpL production</p>
      </div>
    </div>
  </div>
</div>
