<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="title text-center">
          <p>Impact </p>
        </div>

        <div class="info text-center">
          <p>Impact is an application developed by AliceMomo, ManuKPL, VincentP and Antonin Archer</p>
          <p>Made with <i class="fa fa-heart"></i> from Paris</p>
          <p>With a little help from
          <!-- <a href="http://www.lewagon.org"> -->
            <%= image_tag("lewagon.png", width: "140") %>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

