<div id='cssmenu'>
<ul>
  <%= link_to root_path do %>
      <%= image_tag "logo2.jpg", class:"active navbar-wagon-logo" %>
    <% end %>
   <li><a href='#'>Home</a></li>
   <li class='active'><a href='#'>Candidats</a>
      <ul>
         <li><a href='#'>Analysez</a>
            <!--<ul>
               <li><a href='#'>Sub Product</a></li>
               <li><a href='#'>Sub Product</a></li>
            </ul>-->
         </li>
         <li><a href='#'>Comparez</a>
            <!--<ul>
               <li><a href='#'>Sub Product</a></li>
               <li><a href='#'>Sub Product</a></li>
            </ul>-->
         </li>
      </ul>
   </li>
   <li><a href='#'>A propos</a></li>
   <li><a href='#'>Contacts</a></li>
</ul>
</div>
