<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <%= link_to root_path do %>
      <h3>IMPACT</h3>
    <% end %>

    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="ex: Claude Bartolone...">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <a href="" class="navbar-wagon-item navbar-wagon-link">Contacts</a>
    <hr>
    <a href="" class="navbar-wagon-item navbar-wagon-link">A propos</a>
                  <hr>
    <div class="navbar-wagon-item navbar-wagon-link">
      <div class="dropdown">
        <a href="" class="navbar-wagon-item navbar-wagon-link dropdown-toggle" data-toggle="dropdown">Candidats</a>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="" class="navbar-wagon-item navbar-wagon-link">Analysez</a>
          </li>
          <li><a href="" class="navbar-wagon-item navbar-wagon-link">Comparez</a>
          </li>
        </ul>
      </div>
    </div>

    <hr>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Home</a>
  </div>
</nav>

<!--  -->
