<div class="banner text-center" style="background-image: url('product.jpg')">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1>IMPACT</h1>
    <p>Analysez un candidat pour connaitre l'influence de twitter sur sa campagne</p>
    <p>Comparez ces résultats avec ceux d'autres candidats</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @candidates.each do |candidate| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag candidate.picture, class:"card-user" %>
          <h1 class="card-text"><%= candidate.name %></h1>
        </div>
      </div>
    <% end %>
  </div>
</div>

