.footer {
  position: relative;
  bottom:0;
  width: 100%;
  padding: 90px 15px;
  background-color: #35454E;
  color: $white;
  z-index: 2;
  font: $base-font;
  font-weight: thinner;

  .title{
    font-family: $header-font;
    font-size: 20px;
    color: $red
  }

  .info{
    font-size: $small-height;
  }


}



