.footer {
  position: relative;
  bottom:0;
  width: 100%;
  height: 300px;
  padding: 70px 15px;
  background-color: #35454E;
  color: $white;
  z-index: 2;
  font: $base-font;
  font-weight: thinner;

  .title{
    font-family: $header-font;
    font-size: 25px;
    color: $red
  }

  .info{
    font-size: 18px;
  }

  .fa-heart{
    color: $red;
  }


}



