
.chart text {
  fill: #E5DFDF;
  text-shadow: 1px 1px;
  font: 17px sans-serif;
  text-anchor: end;
  text-transform: capitalize;
}

#tweet-hashtags text {
  font: 17px sans-serif;
  text-anchor: end;
  text-transform: capitalize;
}
