.card {
  position: relative;
  height: 457px;
  width: 266px;
  margin: 20px auto;
/*  box-shadow: 1px 1px 1px #888888;*/
  background-color: white;
  &-bg{
    background-size: cover;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  &-shadow {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 80%);
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  &-description {
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &-text {
    position: absolute;
    bottom: 15px;
    left: 27px;
    color: $gray;
    h2 {
      font-size: 20px;
      text-align: center;
      font-family: montserrat;
    }
    p {
      font-size: 14px;
    }
  }
  &-user {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    border-radius: 3px;
    &:hover{
      opacity: 0.4;
      .text{
        opacity:0.4;
        text-align:justify;
        color:#000000;
      }
    }
  }
  &-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
    &:hover{
      opacity: 0.1;
    }
  }
}
